@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25.7 81.8% 94.9%;
    --foreground: 28.1 27.9% 25.1%;
    --card: 0 0% 100%;
    --card-foreground: 28.1 27.9% 25.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 28.1 27.9% 25.1%;
    --primary: 16.4 95.1% 64.9%;
    --primary-foreground: 28.1 27.9% 25.1%;
    --secondary: 0 0% 63.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 63.9%;
    --muted-foreground: 28.1 27.9% 25.1%;
    --accent: 121.3 39.4% 49.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 63.9%;
    --input: 0 0% 63.9%;
    --ring: 16.4 95.1% 64.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 21.1% 13.5%;
    --foreground: 240 11.1% 87.8%;
    --card: 235.7 18.1% 20.2%;
    --card-foreground: 240 11.1% 87.8%;
    --popover: 235.7 18.1% 20.2%;
    --popover-foreground: 240 11.1% 87.8%;
    --primary: 248.8 77.8% 66.3%;
    --primary-foreground: 240 21.1% 13.5%;
    --secondary: 240 5.3% 66.3%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5.3% 66.3%;
    --muted-foreground: 240 4.3% 80.2%;
    --accent: 187.3 100% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 89.5% 70.4%;
    --destructive-foreground: 0 0% 100%;
    --border: 235.7 18.1% 20.2%;
    --input: 235.7 18.1% 20.2%;
    --ring: 248.8 77.8% 66.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
